<?php include "header.html";?>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <?php include "submenu.html";?>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <form class="form" method="post" action="">
            <div class="form-group">
                <label for="email">邮箱</label>
                <input type="email" class="form-control" id="email" name="email" value="<?php echo $admin['email'];?>" />
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="text" class="form-control" id="password" name="password" />
            </div>
            <div class="form-group">
                <label for="nickname">昵称</label>
                <input type="text" class="form-control" id="nickname" name="nickname" value="<?php echo $admin['nickname'];?>" />
            </div>
            <button class="btn btn-default" type="submit">提交</button>
            <input type="hidden" name="admin_id" value="<?php echo $admin['admin_id'];?>" />
        </form>
        </div>
    </div>
</div>
<?php include "footer.html";?>