<?php include "header.html";?>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <?php include "submenu.html";?>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="header">
            <h3 class="text-muted">编辑文章分类</h3>
        </div>
        <form class="form" method="post" action="">
            <div class="form-group">
                <label for="cate_name">名称</label>
                <input type="text" class="form-control" id="cate_name" name="cate_name" value="<?php echo $article_cate['cate_name'];?>" />
            </div>
            <div class="form-group">
                <label for="parent_id">父分类</label>
                <input type="text" class="form-control" id="parent_id" name="parent_id" value="<?php echo $article_cate['parent_id'];?>" />
            </div>
            <div class="form-group">
                <label for="sort_order">顺序</label>
                <input type="text" class="form-control" id="sort_order" name="sort_order" value="<?php echo $article_cate['sort_order'];?>" />
            </div>
            <button class="btn btn-default" type="submit">提交</button>
            <input type="hidden" name="article_cate_id" value="<?php echo $article_cate['article_cate_id'];?>" />
        </form>
        </div>
    </div>
</div>
<?php include "footer.html";?>