<?php include "header.html";?>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <?php include "submenu.html";?>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="header">
            <ul class="nav nav-pills pull-right" role="tablist">
              <li role="presentation" class="active"><a href="/admin/index.php?view=sys_config&entry=article_edit" class="btn btn-default">新建</a></li>
            </ul>
            <h3 class="text-muted">文章列表</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                	<tr>
                		<th>标题</th>
                		<th>分类</th>
                        <th>作者</th>
                        <th>时间</th>
                        <th></th>
                	</tr>
                </thead>
                <tbody>
                    <?php foreach($article_list as $val){ ?>
                	<tr>
                		<td><?php echo $val['title'];?></td>
                        <td><?php echo html::article_cate_name($val['cate_id']);?></td>
                        <td><?php echo html::admin_nickname($val['user_id']);?></td>
                        <td><?php echo html::date($val['add_time']);?></td>
                		<td>
                            <a href="/admin/index.php?view=sys_config&entry=article_edit&article_id=<?php echo $val['article_id'];?>">编辑</a>
                            <a href="/admin/index.php?view=sys_config&entry=article_del&article_id=<?php echo $val['article_id'];?>">删除</a>
                        </td>
                	</tr>
                    <?php } ?>
                </tbody>
            </table>
            <?php include "page.html";?>
        </div>
        </div>
    </div>
</div>
<?php include "footer.html";?>