<?php include "header.html";?>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <?php include "submenu.html";?>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="header">
            <h3 class="text-muted">帖子信息</h3>
        </div>
        <form class="form" method="post" action="">
            <div class="form-group ">
                <label for="feed_id" class="">ID</label>
                <input type="text" class="form-control" id="feed_id" name="feed_id" readonly value="<?php echo $feed['feed_id'];?>" />
            </div>
            <div class="form-group">
                <label for="title">标题</label>
                <div>
                  <p class="form-control-static"><?php echo $feed['title']?></p>
                </div>
            </div>
            <div class="form-group">
                <label for="content">内容</label>
                <div>
                  <textarea class="form-control" rows="3"><?php echo $feed['content']?></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="nickname">用户ID</label>
                <div>
                  <p class="form-control-static"><?php echo $feed['user_id']?></p>
                </div>
            </div>
            <div class="form-group">
                <label for="nickname">URL</label>
                <div>
                  <p class="form-control-static"><?php echo $feed['url']?></p>
                </div>
            </div>
            <div class="form-group">
                <label for="top_image">缩略图</label>
                <div>
                  <input type="text" class="form-control" id="top_image" name="top_image" value="<?php echo $feed['top_image']?>" />
                </div>
            </div>
            <div class="form-group">
                <label for="status">状态</label>
                <input type="text" class="form-control" id="status" name="status" value="<?php echo $feed['status'];?>" />
            </div>
            <button class="btn btn-default" type="submit">提交</button>
        </form>
        </div>
    </div>
</div>
<?php include "footer.html";?>