<ul class="nav nav-sidebar">
<li><a href="/admin/index.php?view=user&entry=admin">管理员列表</a></li>
<li><a href="/admin/index.php?view=user">用户列表</a></li>
</ul>

<ul class="nav nav-sidebar">
<li><a href="/admin/index.php?view=account">账户列表</a></li>
<li><a href="/admin/index.php?view=account&entry=account_log">资金记录</a></li>
<li><a href="/admin/index.php?view=account&entry=withdraw">等待提现</a></li>
</ul>

<ul class="nav nav-sidebar">
<li><a href="/admin/index.php?view=shop">商店列表</a></li>
<li><a href="/admin/index.php?view=shop&entry=router">路由器列表</a></li>
<li><a href="/admin/index.php?view=ads">广告列表</a></li>
</ul>

<ul class="nav nav-sidebar">
<li><a href="/admin/index.php?view=sys_config">系统信息</a></li>
<li><a href="/admin/index.php?view=sys_config&entry=payment">支付方式</a></li>
<li><a href="/admin/index.php?view=sys_config&entry=region">商圈列表</a></li>
<li><a href="/admin/index.php?view=sys_config&entry=industry">行业列表</a></li>
<li><a href="/admin/index.php?view=sys_config&entry=article_cate">文章类别</a></li>
<li><a href="/admin/index.php?view=sys_config&entry=article">文章列表</a></li>
</ul>