
<div class="footer-container">
    <div class="footer">
        <div>
            <span class="separator"></span><a href="#">关于</a>
            <span class="separator"></span><a href="#">常见问题</a>
            <span class="separator"></span><a href="#">合作项目</a>
        </div>
        <p class="bottommenu">
            <?php echo $sys_config['website_name']?>版权所有 <a href="http://www.miibeian.gov.cn/" target="_blank"><?php echo $sys_config['icp']?></a>
        </p>
        <p class="bottommenu">
            &copy; 2015 maomaolou.com All rights reserved.
        </p>
    </div>
</div>


    <script src="<?php echo CDN_URL?>/templates/js/whoaverse.js"></script>
    <script src="<?php echo CDN_URL?>/templates/js/whoaverse.ui.js"></script>
    <script src="//cdn.bootcss.com/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script src="<?php echo CDN_URL?>/contents/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</body>

</html>
