
<div class="footer-container">
    <div class="footer">
        <div>
            <span class="separator"></span><a href="#">关于</a>
            <span class="separator"></span><a href="#">常见问题</a>
            <span class="separator"></span><a href="#">合作项目</a>
        </div>
        <p class="bottommenu">
            <?php echo $sys_config['website_name']?>版权所有 <a href="http://www.miibeian.gov.cn/" target="_blank"><?php echo $sys_config['icp']?></a>
        </p>
        <p class="bottommenu">
            &copy; 2015 liutier.com All rights reserved.
        </p>
    </div>
</div>


    <script src="/contents/js/modernizr-2.8.3.js"></script>
    <script src="/templates/js/whoaverse.js"></script>
    <script src="/templates/js/whoaverse.ui.js"></script>
    <script src="/contents/js/jquery.validate.min.js"></script>
    <script src="/contents/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/contents/js/respond.min.js"></script>
    


</body>

</html>
