<?php include 'header.html'?>

<div class="content error-page" role="main">

    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">哟！</h3>
            </div>
            <div class="panel-body centered">
                <p><?php echo $message;?></p>
                <p><a href="javascript:history.go(-1)">返回上一页</a></p>
            </div>
        </div>
        <p class="panel-footer centered">
            感谢您的使用
        </p>
    </div>

</div>
<?php include 'footer.html'?>