
    <div class="alert alert-firsttimevisitorwelcome alert-dismissible" role="alert" style="display: none" id="firsttimevisitorwelcomemessage">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p>Hi, it looks like you're new. Welcome to Voat!</p>
        <p>Voat is a censorship-free community platform based in Switzerland where content is submitted, organized, moderated and voted on (ranked) by the users.</p>
        <p>Users can earn a percentage of our ad-revenue share for the content they submit.</p>
        <a href="https://voat.co/about/intro" class="btn-tour">Take a tour</a>
    </div>


            

    <div class="alert-featuredsub">
        <div class="submission link stickied">
            <div class="entry unvoted">
                <p class="title">
                    <span class="featuredsub">featured sub</span>
                    <a class="title may-blank" href="/v/anime" tabindex="1" title="A subverse for anime fans.">/v/anime: A subverse for anime fans.</a>
                </p>

                <p class="tagline">
                    a community for 8 months, featured <time title="2015/2/23 19:54:00" datetime="2015/2/23 19:54:00">9 days</time> ago by <a href="/user/Atko" class="author may-blank">Atko</a>
                </p>
            </div>
        </div>
    </div>